{% extends '_base.html' %}﻿

{% block body %}

<div class="container">
  <fieldset>
    <legend><h2>{{ article.title }}</h2></legend>
    <p class="article_content">{{ article.content }}</p>
    <p class="article_time">{{ article.time }}</p>
    <fieldset>
      <legend><b>Comments:</b></legend>
        {% for comment in comments %}
          <fieldset>
            {{ comment.content }}
          </fieldset>
        {% endfor %}
        <form action="{{ article.id }}" method="POST">
          <fieldset>
            <legend><b>Write comment</b></legend>
            <input type="text" name="content">
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <input type="submit" value="send">
          </fieldset>
        </form>
    </fieldset>
  </fieldset>
</div>

{% endblock %}
